

<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @employee.name %> Details</h3>
  </div>
  <div class="panel-body">
    
      <p>
        <strong>Name:</strong>
        <%= @employee.name %>
      </p>

      <p>
        <strong>Emp:</strong>
        <%= @employee.emp_id %>
      </p>

      <p>
        <strong>Location:</strong>
        <%= @employee.location %>
      </p>

      <p>
        <strong>Date of joining:</strong>
        <%= @employee.date_of_joining %>
      </p>

      <p>
        <strong>Date of birth:</strong>
        <%= @employee.date_of_birth %>
      </p>

      <p>
        <strong>Address:</strong>
        <%= @employee.address %>
      </p>

      <p>
        <strong>Skills:</strong>
        <%= @employee.skills %>
      </p>

      <p>
        <strong>User:</strong>
        <%= @employee.user %>
      </p>

      

  </div>
</div>
<%= link_to 'Edit', edit_employee_path(@employee) ,class: "btn btn-warning btn-sm"%> 
<%= link_to 'Destroy', @employee, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-danger btn-sm" %> 
<%= link_to 'Back', employees_path ,class: "btn btn-info btn-sm"%>